@charset "UTF-8";
    body,html {
      padding:0;
      margin:0;
    }
    body{
      font-family: 'Raleway', sans-serif;

    }

    a, a:hover {
      text-decoration:none;
    }
    .container-fluid{
      padding: 0;
    }

    stom:hover{
        background-color: #3498db;
      color: #ffffff;
    }
    .separator{
height: 3px;
width: 5%;
border:none;
box-shadow: none;
background-color: #3498DB;


    }
.header{
  background-color: #3498DB;
  height: 70px;
  line-height: 70px;
}
.logo{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}
.menu{
  float:right;
}
.menu a{
  color: #ffffff;
  margin-right: 20px;
}
.menu a:hover{
   color: #2C3E50;
}
.banner{
  width: 100%;
  max-width: 100%;
}
.ban{
  width: 100%;
  max-width: 100%;
  position: relative;
}
.ban img{
  width: 100%;
  max-width: 100%;
}
.inner-banner{
  position:absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}
.inner-banner h1{
color: #fffff9;
text-shadow: 1px 1px 20px #000000;
}
.inner-banner .btn-custom{
  background-color: #3498DB;
  color: #ffffff;
}
.inner-banner .btn-custom:hover{
    background-color: #2c3e50;
  color: #ffffff;
}
#about{
  text-align: center;

}
.about article{
  margin-top: 10%;
  margin-bottom: 10%;
}
.about article h2{
  text-align: center;
}

.assinodz{
  background-color: #eeeeee;
height: 800px;
}
#assinodz{
  text-align: center;
}

.assinodz .item-folio{
  height: 280px;
  background-color: #3498db;
}
.footer{
  background-color: #2c3e50;
  height: 600px;
}
.footer{
  color: #ffffff;
  text-align: center;
  padding-top: 5%;
}
#contact{
  color: #ffffff;
  text-align: center;
}
.formulaireContact{
  width: 500px;
  display: block;
  margin: 0 auto;
}
input{
  margin-bottom: 20px;
}
input[type=text]{
  height: 50px;
  width: 500px;
    border: none;
}
input[type=email]{
  height: 50px;
  width: 500px;

  border: none;
}
textarea{
  width: 500px;
  height: 200px;
  resize: vertical;
}
